[graph]
targets = [
    { triple = "x86_64-unknown-linux-gnu" },
    { triple = "x86_64-apple-darwin" },
    { triple = "aarch64-apple-darwin" },
    { triple = "x86_64-pc-windows-msvc" },
]

[licenses]
confidence-threshold = 0.95
allow = [
    "MIT",
    "Apache-2.0",
    # "MIT OR Apache-2.0",
    "Apache-2.0 WITH LLVM-exception",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "Unicode-3.0",
]

[advisories]
yanked = "deny"

[bans]
multiple-versions = "warn"
